# Основное
pytest==8.4.0

# Асинхронные тесты
pytest-asyncio==0.26.0

# Подстановка переменных окружения (с пустым .env)
pytest-env==1.1.5

# Покрытие
pytest-cov==6.1.1

# Параллельный запуск
pytest-xdist==3.6.1

# События startup-shutdown ASGI-приложений типа fastapi
asgi_lifespan==2.1.0


# моки запросов httpx
respx==0.22.0