# Логгер
loguru==0.7.3

# Фреймворк, сервер-ворвер и обработка форм
fastapi==0.115.12
uvicorn==0.34.2
uvloop==0.21.0
python-multipart==0.0.20


# Валидация и DTO
pydantic==2.11.4
pydantic-settings==2.9.1
email_validator==2.2.0

# Внешние запросы
httpx==0.28.1

# ORM (SQLAlchemy 2.x)
SQLAlchemy==2.0.30